/*
File: style.css
Author: Erős István
Copyright: 2024, Erős István
Group: Szoft I-1-N
Date: 2024-02-06
Github: https://github.com/erosistvan/
Licenc: GNU GPL
*/
.container {
    margin: 5%;
}

.table_001{
    border-collapse: collapse;    
}

.table_001, td, th {
    border: 1px solid black; 
    padding: 10px;   
}